body{
    font-family: arial;
    background-color: lightgray;
}
h2{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
h3{
    font-weight: 700;
}
li{
    background-color: white;
    margin: 5px;
}